<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/JGuitron/IdeaProjects/TESTNGUDEMY">
        <classes>
            <class name="TEST.day1"/>
            <class name = "TEST.day2"/>

        </classes>
    </test>
</suite>